body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin: 20px;
}

.cart-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #21477e;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0d3499;
}

img {
    width: 100px;
    height: auto;
}

#cart-summary {
    text-align: right;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #deec14;
}
